
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Outil-1" aria-controls="home" role="tab" data-toggle="tab">Outil-1</a></li>
    <li role="presentation"><a href="#Outil-2" aria-controls="profile" role="tab" data-toggle="tab">Outil-2</a></li>
    <li role="presentation"><a href="#Outil-3" aria-controls="messages" role="tab" data-toggle="tab">Outil-3</a></li>
    <li role="presentation"><a href="#Outil-4" aria-controls="settings" role="tab" data-toggle="tab">Outil-4</a></li>
  </ul>


  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Outil-1">
      <%= render "statuses/new" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="Outil-2">
      <div class="tool-container">Test Outil 2</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="Outil-3">
      <div class="tool-container">Test Outil 3</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="Outil-4">
      <div class="tool-container">Test Outil 4</div>
    </div>
  </div>
