<div class="home-banner">
  <div class="banner-filter"></div>
</div>

<div class="container-flexrow">
  <div class="flexrow" data-wrap="left">
    <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
      <div class="card-space text-center">
      </div>
    </div>
    <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
      <div class="card-space text-center">
      </div>
    </div>
    <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
      <div class="card-space text-center">
      </div>
    </div>
    <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
      <div class="card-space text-center">
      </div>
    </div>
  </div>
</div>


<div class="container-flexrow" data-gap="40px">
  <div class="flexrow" data-wrap="left">
    <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
      <div class="flexcol-gap">
        <div class="card-space text-center padded"></div>
      </div>
    </div>
    <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
      <div class="flexcol-gap">
        <div class="card-space text-center padded"></div>
      </div>
    </div>
    <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
      <div class="flexcol-gap">
        <div class="card-space text-center padded"></div>
      </div>
    </div>
    <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
      <div class="flexcol-gap">
        <div class="card-space text-center padded"></div>
      </div>
    </div>
  </div>
</div>







<div class="droplist">
  <div class="droplist-trigger" data-droplist="#droplist-1">Droplist trigger</div>
  <div class="droplist-container hidden" id="droplist-1">
    <div class="droplist-container-relative">
      <div class="carret-container-top">
        <div class="carret"></div>
      </div>
      <p>test</p>
      <p>test 2</p>
      <p>test 3</p>
    </div>
  </div>
</div>














<div class="home-link-container">
  <% if user_signed_in? %>
    <%= link_to "Choisir un statut", dashboard_path %>
  <% else %>
    <%= link_to "S'inscrire", new_user_registration_path %>
  <% end %>
</div>

