<div class="home-banner">
  <div class="banner-filter"></div>
</div>



<div class="home-link-container">
  <% if user_signed_in? %>
    <%= link_to "Choisir un statut", dashboard_path %>
  <% else %>
    <%= link_to "S'inscrire", new_user_registration_path %>
  <% end %>
</div>

